{{ form_start(form) }}
<div class="container">
    <div class="alert alert-light " role="alert">
        <h4 class="alert-heading"><i class="fa-solid fa-triangle-exclamation"></i> Importante</h4>
        <ul class="pt-2">
            <li><p>En caso de solicitar beca se enviará un correo a la profesora o profesor quien haya accedido a escribir
                    una referencia de apoyo para su participación en este evento, por lo que debe asegurarse de escribir correctamente su dirección de correo.</p></li>
            <li><p>Al finalizar el envío de este formulario debes de visualizar una pantalla de confirmación. Además, recibirás un correo
                    electrónico a la cuenta que proporcionaste, de no ser así favor de revisar tu carpeta de correos no deseados o comunicarte
                    al correo <mark>webmaster<i class="fa-solid fa-at"></i>matmor.unam.mx</mark> para asegurarte que hayamos recibido tu solicitud.</p></li>
        </ul>
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="fa-solid fa-link"></i> Aviso de privacidad
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Aviso de Privacidad</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>Aviso de Privacidad Simplificado del Centro de Ciencias Matemáticas de la UNAM.</h5>
                        <p class="mt-3">El Centro de Ciencias Matemáticas de la UNAM, es responsable del tratamiento de sus datos personales
                            para el registro de usted en calidad de alumno, docente, personal de la entidad académica,
                            conferencista o invitado externo (nacional o extranjero), visitante, proveedor o cliente de servicios universitarios.
                        </p>
                        <p>
                            Para cumplir las finalidades necesarias anteriormente descritas u otras aquellas exigidas
                            legalmente o por las autoridades competentes podrá transferir sus datos personales.
                            Podrá ejercer sus derechos ARCO en la Unidad de Transparencia de la UNAM, o a través de
                            la Plataforma Nacional de Transparencia:
                            <a href="https://www.plataformadetransparencia.org.mx/" target="_blank">
                                https://www.plataformadetransparencia.org.mx
                            </a>
                        </p>
                        <p>
                            El aviso de privacidad integral se puede consultar en la siguiente dirección web:
                            <a href="https://matmor.unam.mx/AvisoPrivacidad-CCM.pdf" target="_blank">
                                Aviso de Privacidad Integral del CCM
                            </a>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="mb-0">
            <i class="fa-solid fa-calendar"></i> Fecha límite para realizar tu registro: <mark>1 de octubre de 2024.</mark>
        </p>
    </div>
    <p class="h4">Registro</p>
    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.nombre, {
                label: 'Nombre',
                attr: {
                    placeholder: 'Nombre'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.paterno, {
                label: 'Apellido paterno',
                attr: {
                    placeholder: 'Apellido paterno'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.materno, {
                label: 'Apellido materno',
                attr: {
                    placeholder: 'Name'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2">
        <p class="text-secondary">En caso de solicitar apoyo, la información del campo sexo es requerida con fines de la asignación de habitación ya que es compartida.</p>
        <div class="col col-md-4 col-sm-12  ">
            {{ form_row(form.sexo, {
                label: 'Sexo',
                attr: {
                    placeholder: 'Sexo'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.mail.first, {
                label: 'Correo electrónico',
                attr: {
                    placeholder: 'Correo'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.mail.second, {
                label: 'Confirma correo electrónico',
                attr: {
                    placeholder: 'Correo'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.procedencia, {
                label: 'Universidad de procedencia',
                attr: {
                    placeholder: 'Universidad de Procedencia'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.status, {
                label: 'Estatus',
                attr: {
                    placeholder: 'Estatus'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12" id="div_otro">
            {{ form_row(form.otroestatus, {
                label: 'Otro estatus',
                attr: {
                    placeholder: 'Otro estatus'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2 ">
        <div class="col-md-12 mt-3" >
            <p class="text-secondary">En caso de ser alumno o alumna de la UNAM, adjuntar copia de tu credencial UNAM.
                En caso contrario haga caso omiso a este paso.</p>
            <div class="col-md-6">{{ form_widget(form.credencialFile) }}</div>
            <div class="col-md-6">{{ form_errors(form.credencialFile) }}</div>
        </div>
    </div>
    <hr>
    <p class="h4">Contribución <small><em>(opcional)</em></small></p>
    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.contribucion, {
                label: 'Tipo de contribución',
                attr: {
                    placeholder: 'Tipo de contribución'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-8 col-sm-12">
            {{ form_row(form.titulo, {
                label: 'Título de la contribución',
                attr: {
                    placeholder: 'Título de la contribución'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2 ">
        <div class="col col-md-12">
            {{ form_row(form.resumen, {
                label: 'Resumen de la contribución',
                attr: {
                    placeholder: 'Resumen de la contribución',
                    style:'height: 150px;'
                },
                row_attr: {
                    class: 'form-floating ',
                },
            }) }}
        </div>
    </div>

    <hr>
    <p class="h4">{{ evento }}</p>
    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.beca, {
                label: 'Beca',
                attr: {
                    placeholder: 'Beca'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-8 col-sm-8" >
            {{ form_row(form.restricciones, {
                label: 'Mencionar si tienes alguna restricción alimenticia',
                attr: {
                    placeholder: 'Mencionar si tienes alguna restricción alimenticia',
                    style:'height: 80px;'
                },
                row_attr: {
                    class: 'form-floating',
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2">

        <div class="col col-md-12 col-sm-12" >
            {{ form_row(form.infoadicional, {
                label: 'Comentarios o información adicional que desee proporcionar',
                attr: {
                    placeholder: 'Comentarios o información adicional que desee proporcionar',
                    style:'height: 80px;'
                },
                row_attr: {
                    class: 'form-floating',
                }
            }) }}
        </div>
    </div>

    <hr>
    <p class="h4">Recomendación en caso de solicitar apoyo</p>
    <div class="row pt-3">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.profesor, {
                label: 'Profesor(a) que recomienda su participación',
                attr: {
                    placeholder: 'Profesor(a) que recomienda su participación'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.univprofesor, {
                label: 'Universidad del profesor o profesora',
                attr: {
                    placeholder: 'Universidad del profesor'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <div class="row pt-2">
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.mailprofesor.first, {
                label: 'Correo del profesor o profesora',
                attr: {
                    placeholder: 'Correo del profesor o profesora'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
        <div class="col col-md-4 col-sm-12">
            {{ form_row(form.mailprofesor.second, {
                label: 'Confirma correo del profesor o profesora',
                attr: {
                    placeholder: 'Correo del profesor o profesora'
                },
                row_attr: {
                    class: 'form-floating'
                }
            }) }}
        </div>
    </div>
    <hr>
    <div class="d-grid gap-2 pt-3 mb-2 col-3 mx-auto">
        <button class="btn btn-dark"><h5> <i class="fa-regular fa-paper-plane"></i> {{ button_label|default('Enviar') }}</h5></button>
    </div>
</div>

{{ form_widget(form) }}

{{ form_end(form) }}